body {
    background: #F3F2F2;
}

.navbar {
    font-weight: normal;
    font-size: 18px;
    background: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: none;
    border: none;
}

.hero {
    /* background-image: linear-gradient(to bottom right, 19deg, #20D3FD, #B620FF); */
    background-image: linear-gradient( rgba(32, 211, 253, 0.70), rgba(255, 214, 0, 0.50)), url('../img/hero-02.jpg');
    background-position: bottom center;
    background-size: cover;
    padding-top: 30vh;
    padding-bottom: 35vh;
}

#hero-header {
    font-family: 'Abril Fatface';
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 1em;
    margin-bottom: 1.2em;
}

.about {
    background-color: #D9F3F9;
    padding-bottom: 2em;
}

.card img {
    margin-top: 3em;
    margin-bottom: 2em;
    box-shadow: 6px 6px 15px 0.35px rgba(0, 0, 0, 0.5);
    z-index: 100px;
    top: -60px;
}

.about-writing {
    margin-top: 1.5em;
}

.about-talk {
    font-family: 'Abril Fatface';
    font-size: 25px;
    margin-top: 4em;
}

h3 {
    font-family: 'Abril Fatface';
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 1em;
}

ul li {
    font-weight: normal;
    font-size: 16px;
}

ol li {
    font-weight: normal;
    font-size: 16px;
}

#btn-about {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 24px
}

.second-about {
    margin-top: 4em;
    margin-bottom: 4em;
}

picture img {
    margin-top: 2em;
    box-shadow: 6px 6px 15px 0.35px rgba(0, 0, 0, 0.5);
    z-index: 100px;
    top: -60px;
}

.footer {
    background-color: #D9F3F9;
    padding-top: 2em;
    padding-bottom: 2em;
}


#socials-items {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #3E2723;
}

@media (min-width:100px) and (max-width:600px) {
    #btn-about {
        width: 150px;
        height: 35px;
        font-weight: medium;
        font-size: 12px
    }
    .nav-link {
        text-align: left
    }
}

.about-talk {
    margin-top: 1em;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}

.faqs {
    margin-top: 6em;
    margin-bottom: 2em;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 40px;
}

.price {
    margin-top: 4em;
    margin-bottom: 4em;
}

.sec-text-pricing {
    margin: 4em;
    font-weight: bold;
    font-size: 14px;
}

.table-price ul li {
    font-weight: bold;
    margin: 1em;
}

.special-text {
    margin-bottom: 3em;
    font-style: italic;
}

table {
    margin-top: 3em;
    padding: 4rem;
    background: white;
}

table th {
    font-family: 'Abril Fatface', cursive;
    font-size: 18px;
}

table .bold {
    font-weight: bold;
    font-size: 15px;
}

.table-box {
    background: white;
    box-shadow: 6px 6px 15px 0.35px rgba(0, 0, 0, 0.5);
}

.login {
    margin-top: 5rem;

}

.register {
    margin-top: 10rem;
}